@mixin Raleway-Medium-text {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.03em;
}

@mixin Raleway-Bold-text {
  @include Raleway-Medium-text;

  font-weight: 700;
}

@mixin Raleway-Medium-link {
  @include Raleway-Medium-text;

  text-decoration-line: underline;
}
