:root {
  --content-page-gap: 10px;
  --navbar-height: 50px;
  --sidebar-width: 300px;
  --sidebar-width-collapsed: 80px;
  --accent-color: #4461f2;
  --font-family: 'Raleway', sans-serif;
  --window-padding: 20px;
}
