.button {
  display: flex;
  flex-direction: column;
  height: 40px;
  padding: 0;
  background-color: transparent;

  &_content {
    margin-top: 3px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &_underscore {
    margin: auto;
    display: block;
    width: 45%;
    border-bottom: 3px solid var(--accent-color);
    border-radius: 3px;
    content: '';
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }

  &:hover {
    background-color: transparent;
    color: var(--accent-color-darker);

    /* .button_underscore {
      border-bottom-color: var(--accent-color-darker);
    } */
  }

  &:hover &_underscore {
    border-bottom-color: var(--accent-color-darker);
  }
}
