.languageSwitcher {
  height: 40px;
  * {
    border: none;
    text-transform: uppercase;
    font-size: 0.875rem;
  }
}

.item {
  border: none;
  text-transform: uppercase;
  font-size: 0.875rem;
}
