import { 
	useDispatch, 
	// useSelector 
} from 'react-redux';
// import { {{camelCase name}}Actions } from '../model/slice/{{camelCase name}}Slice';

export const {{pascalCase name}} = () => {
  const dispatch = useDispatch();
  return (
    <div data-testid="{{camelCase name}}"></div>
  );
};