.dropdown {
  height: 40px;

  * {
    border: none;
  }

  &_expand {
    pointer-events: none;
    user-select: none;

    position: absolute;
    top: calc(50% - 0.5em);
    right: 0;

    display: inline-block;

    width: 1em;
    height: 1em;

    font-size: 1.5rem;
    color: rgb(0 0 0 / 54%);

    fill: currentcolor;

    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }
}
