.dropdown {
  height: 40px;

  * {
    border: none;
  }

  &_expand {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
    position: absolute;
    right: 0;
    top: calc(50% - 0.5em);
    pointer-events: none;
    color: rgb(0 0 0 / 54%);
  }
}
